src/main/mule/cicd-demo-project.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="cba24a01-4572-4ac1-9ac2-930c1cd1113c" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<flow name="cicd-demo-projectFlow" doc:id="1583b3b5-5302-46d3-970c-72ec2acfb4b7" >
		<http:listener doc:name="Listener" doc:id="3018730e-8d6b-4a2b-b90e-f3b57948a265" config-ref="HTTP_Listener_config" path="/cicd"/>
		<ee:transform doc:name="Transform Message" doc:id="2074477d-e3e2-4f66-8547-0e2fe8f6a6de" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	user: "Giribabu Sayineni",
	message: "Hello CICD Process",
	comment: "Jenkins CICD Pracitce",
	version: "v1.0"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="1efe70ba-9b37-49a5-ba11-915c1329df1e" message="#[payload]"/>
	</flow>
</mule>
